*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
@font-face {
    font-family: Corbel;
    src: url(../font/ofont.ru_Corbel.ttf);
}
@font-face{
    font-family: Montserrat;
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Gadugi;
    src: url(../font/Gadugi.ttf);
}
a{
    cursor: pointer;
    font-family: 'Corbel';
}
button{cursor: pointer;}
button:hover{
    text-shadow: 2px 2px 10px #FFFFFF;
}
p{font-family: 'Montserrat';}
h1{font-family: 'Corbel';}
h2{font-family: 'Corbel';}
h3{
    font-family: 'Corbel';
    font-size: 25px;
}
.left{
    float: left;
    padding: 0;
}
.right{
    float: right;
    padding: 0;
}
.clearfix{
    clear: both;
}
.content{
    width: 80%;
    margin: 0 auto;
}
iframe{
    width: 480px;
    height: 270px;
}
.big_papa{ 
    font-family: 'Corbel';
    font-size: 2em;
    font-weight: bold;
    color: #E0391E;
}




                                                            /* for scripts alerts */
.alert{
    font-family: 'Montserrat';
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s all ease;
}
.alert .info{
    width: 80%;
    min-height: 500px;
    
    padding: 50px;

    background-color: #fff;
    position: relative;
    z-index: 11;
    border-radius: 20px;

    font-size: 4.8em;
}
.alert .info .img_krest{
    width: 80px;
    height: 80px;
    
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/close.png);

    float: right;
    position: relative;
    top: -20px;
    right: -20px;
}
.alert .info h2{
    font-family: 'Corbel';
    font-weight: 700;
    font-size: 30px;
    color: #041226;
    margin-bottom: 20px;
}
.alert .info input{
    font-family: 'Montserrat';
    font-weight: 400;

    border: none;
    box-shadow: inset 0px 2px 64px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    margin-left: 10px;
    padding: 9px 10px;

    outline: none;

    margin-bottom: 40px;
}
.alert .info button{
    font-size: 1em;
    color: #fff;
    background-color: #E0391E;
    border: none;
    padding: 10px 80px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.alert .closeCallback{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.800);
    position: fixed;
    display: flex;
}
.slider_call a{
    width: 200px;
    height: 200px;

    background-image: url(../img/call_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    position: fixed;

    border-radius: 100%;
    
    bottom: 100px;
    right: 100px;
    z-index: 3;
}
#Reviews_form .info{
    width: 80%;
}
#Reviews_form .info h2{
    width: 100%;
    font-weight: 700;
    font-size: 0.9em;
    margin-bottom: 20px;
}
#Reviews_form .info .num{
    width: 0;
    float: left;
    position: relative;
    top: 9px;
    left: 10px;
    z-index: 2;
    font-size: 0.7em;
    color: rgba(4, 18, 38, 0.4);
    display: none;
}
#Reviews_form .info input{
    width: 80%;
    padding-left: 30px;
    display: block;
    position: relative;
    margin-left: 0;
    font-size: 0.7em;
    margin-bottom: 15px;
    background: #FFFFFF;
    color: rgba(4, 18, 38, 0.4);
    box-shadow: inset 0px 2px 64px rgba(0, 0, 0, 0.03);
}
#Reviews_form .info input:focus{
    border: 2px solid #000;
}

#Reviews_form .info #Reviews_form_input{
    z-index: 1;
    left: 0;
}
#Reviews_form .info #textarea{
    padding: 10px 10px 10px 30px;
    width: 80%;
    min-height: 300px;
    font-size: 0.7em;
    border: 0;
    box-shadow: inset 0px 2px 64px rgba(0, 0, 0, 0.03);
    resize: none;
    border-radius: 6px;
    margin-bottom: 30px;
    font-family: 'Montserrat';
}
#the_order_has_been_sent .info{
    padding: 50px;
}
#the_order_has_been_sent .info h2{
    width: 100%;
    font-size: 0.8em;
    margin-bottom: 50px;
}
#the_order_has_been_sent .info .thx{
    margin-bottom: 50px;
}
#the_order_has_been_sent .info .thx p:first-child{
    font-size: 0.6em;
    margin-bottom: 5px;
}
#the_order_has_been_sent .info .thx p:last-child{
    font-size: 0.5em;
}
#the_order_has_been_sent .info .tel{
    color: #E0391E;
    font-size: 1.2em;
    margin-bottom: 5px;
}
#menu_burger ul li{
    list-style-type: none;
    margin-bottom: 80px;
}
#menu_burger ul li a{
    color: #000;
}
#form_call .info h2{
    font-size: 1em;
}
#form_call .info .Field p{
    font-size: 0.7em;
}
#form_call .info .Field .img{
    width: 50px;
    height: 50px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;

    position: relative;
    top: 25px;
    z-index: 2;

    float: left;
}
#form_call .info .Field .tel{background-image: url(../img/tel.png);}
#form_call .info .Field .geo{
    background-image: url(../img/geo.png);
    background-size: auto 100%;
}
#form_call .info .Field .triangle{background-image: url(../img/triangle.png);}
#form_call .info .Field .number7{
    float: left;
    width: 0;
    display: inline-block;
    position: relative;
    z-index: 2;
    top: 15px;
    display: none;
    font-size: 0.8em;
}
#form_call .info .Field input:not(input[type="checkbox"]){
    font-size: 0.8em;
    padding-left: 90px;

    position: relative;
    left: -80px;
}
#form_call .info .Field:nth-child(3) input{
    width: 700px;
    padding-right: 80px;
}

#form_call .menu_auto{
    height: 138px;
    transition: 1s all ease;
}
#form_call .info .Field .hidden_menu_auto{
    width: 785px;

    display: none;
    background-color: #fff;
    font-family: 'Montserrat';
    font-weight: 400;
    border: none;
    box-shadow: inset 0px 2px 64px rgb(0 0 0 / 3%);
    border-radius: 6px;
    outline: none;
    margin-bottom: 40px;

    padding-left: 90px;
    position: relative;
    left: -21px;

    opacity: 0;

    transition: 1s all ease;
}

/* #form_call .info .Field */

#form_call .checkboxses{
    padding: 19px 16px;
    border-radius: 6px;
    border: none;
    color: #FFFFFF66;
    font-family: 'Montserrat';
    font-size: 15px;
    letter-spacing: 0.1em;
}
#form_call .checkboxses label{
    display: block;
    margin-left: 1px;
    margin-bottom: 15px;
    color: #000;
    font-size: 4.2em;
}
.content#form_call .checkboxses label:last-child{
    margin-bottom: 0;
}
#form_call .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
#form_call .custom-checkbox+label::before {
    position: relative;
    top: 3px;
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 90px;
    margin-right: 0.5em;

    background-image: url(../img/chekbox/chek.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto; 
}
#form_call .custom-checkbox:checked+label::before {
    background-image: url(../img/chekbox/chek_actv.png);
}
#form_call .custom-checkbox:disabled+label::before {
background-color: #e9ecef;
}
#form_call .info button{
    font-size: 1em;
    color: #fff;
    background-color: #E0391E;
    border: none;
    padding: 10px 80px;
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}


                                                                        /* end */

.title{
    width: 100%;
    height: 100vh;
    background-image: url(../img/background_first_vlock.png);

    background-position: center;
    background-size:auto 100%;
    background-repeat: no-repeat;
    
    position: relative;
    /* top: -1px; */

    padding-bottom: 168px;
}
.title .content .top{
    width: 100%;
    padding-top: 20px;
    font-family: 'Montserrat';
}

.title .content .top .left div{
    display: table-cell;
    vertical-align: middle;
}
.title .content .top .img{
    width: 200px;
    height: 225px;

    background-image: url(../img/logo.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.title .content .top .name{
    position: relative;
    left: 30px;
}
.title .content .top .logo_name{
    color: #E0391E;
    font-family: 'Gadugi';
    font-weight: 700;
    font-size: 2.4em;
    letter-spacing: 0.2em;
}
.title .content .top p{
    color: #fff;
    font-family: 'Corbel';
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 0.29em;
}
.title .content .top .right{
    display: table-cell;
    vertical-align: middle;
}
.title .content .top .right .menu .img{
    width: 50px;
    height: 50px;

    margin: 87.5px 0;
    background-position: center;
    background-image: url(../img/burger.png);
}

.title .content .urgent_form{
    margin-top: 110px;
    display: table;
    width: 100%;
    transition: 1s all ease;
    text-align: center;
}
.title .content .urgent_form h1{
    width: 100%;
    font-weight: 700;
    font-family: 'Corbel';
    letter-spacing: 0.02em;
    font-size: 5em;
    color: #fff;

    margin-bottom: 100px;
}
.title .content .urgent_form .information{
    margin-bottom: 300px;
}
.title .content .urgent_form .information p{
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 2.8em;
    width: 100%;
    line-height: 1.5em;
    color: #fff;
}
.title .content .urgent_form .information p:nth-child(6){
    margin-bottom: 80px;
}
.title .content .urgent_form button{
    font-size: 2.8em;
    color: #fff;
    background-color: #E0391E;
    border: none;
    padding: 30px 80px;
    border-radius: 20px;
    margin-bottom: 40px;
}
.title .content .urgent_form .call_a{
    display: table;
    width: 100%;
}
.title .content .urgent_form .call_a .img{
    width: 200px;
    height: 200px;
    background-image: url(../img/call_icon.png);

    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    display: table-cell;
    vertical-align: middle;
}
.title .content .urgent_form .call_a .text{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    padding-left: 80px;
    font-size: 2em;
    color: #fff;
}
.title .content .urgent_form .call_a .text p:first-child{
    font-size: 1.5em;
    margin-bottom: 30px;
}



.content .about_us{
    width: 100%;
    display: table;
    margin: 70px 0 0;
}
.content .about_us>div{
    margin-bottom: 100px;
}
.content .about_us>div h2{
    margin-bottom: 17px;
    font-size: 4.8em;
}
.content .about_us>div p{
    font-weight: 400;
    font-size: 3em;
    width: 100%;
    margin-bottom: 150px;
}
.content .about_us>div:first-child a{
    color: #fff;
    padding: 6px 51px;
    background-color: #E0391E;
    border-radius: 6px;
    font-size: 3em;
}
.content .about_us>div a{
    color: #E0391E;
    font-size: 3em;
}
.content .about_us>div h3{
    font-size: 4em;
    margin-top: 50px;
    margin-bottom: 30px;
}
.content .about_us .right>div:last-child{
    margin-bottom: 0;
}



.content .cost{
    width: 100%;
}
.content .cost h2{
    width: 100%;
    font-size: 4.8em;
    text-align: left;
}
.content .cost>p{
    margin-top: 80px;
    font-size: 3em;
    margin-bottom: 150px;
}
.content .cost .cost_images>div{
    width: 100%;
    min-height: 50px;
    margin-bottom: 21px;
 
    font-size: 0;
}
.content .cost .cost_images .img{
    width: 100%;
    height: 700px;

    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    margin-bottom: 80px;

    cursor: default;
}

.content .cost .cost_images>div .img:last-child{margin-right: 0;}
/* Задаем bgimage */
.content .cost .cost_images .img:nth-child(1){background-image: url(../img/passenger_car.png);}
.content .cost .cost_images .img:nth-child(2){background-image: url(../img/parquet_car.png);}
.content .cost .cost_images .img:nth-child(3){background-image: url(../img/off-road_vehicle.png);}
.content .cost .cost_images .img:nth-child(4){background-image: url(../img/commercial_vehicle.png);}
.content .cost .cost_images .img:nth-child(5){background-image: url(../img/exclusive_car.png);}
.content .cost .cost_images .img:nth-child(6){background-image: url(../img/special_equipment.png);}
.content .cost .cost_images .img:nth-child(7){background-image: url(../img/Manipulator.png);}


.content .cost .cost_images .info{
    width: 100%;
    font-size: 20px;
    position: relative;
    top: -50px;
}
.content .cost .cost_images .info h2{
    font-size: 3em;
    margin-bottom: 80px;
}
.content .cost .cost_images .info p{
    font-size: 2em;
    margin-bottom: 60px;
}
.content .cost .cost_images .info button{
    display: block;
    color: #fff;
    background-color: #E0391E;
    border-radius: 6px;
    border: none;
    padding: 6px 60px;
    font-size: 2.6em;
}



.content .cost .cost_images .img .shadow{
    width: 100%;
    height: 344px;
    background-color: #00000099;
    vertical-align: bottom;
    
    position: relative;
    top: 353px;
    
    display: table;

    transition: 0.8s all ease;
}
.content .cost .cost_images .img .shadow .left{
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding-left: 20px;
}
.content .cost .cost_images .img .shadow .right{
    display: table-cell;
    vertical-align: middle;
    float: none;
    width: 170px;
    padding-right: 20px;
}
.content .cost .cost_images .img .shadow p{
    font-size: 60px;
    color: #fff;
    vertical-align: middle;
}
.content .cost .cost_images .img .shadow .left p:last-child{
    color: #E0391E;
}
.content .cost .cost_images>div .img .shadow .right p:first-child{
    font-size: 36px;
}


.content .cost .cost_images .img:nth-child(7) .shadow .left p:first-child{
    color: #E0391E;
}
.content .cost .cost_images .img:nth-child(7)  .shadow .left p:last-child{
    color: #fff;
}



/* galerey */
.content .galerey {
    width: 100%;
    margin-top: 50px;
}
.content .galerey h2{
    font-weight: 700;
    font-size: 4.8em;
    margin-bottom: 30px;
}
.content .galerey p{
    width: 915px;
    font-size: 3em;
    margin-bottom: 150px;
}
.content .galerey .carousel {
    background: #EEE;
}

.content .galerey .carousel-cell {
    width: 66%;
    height: 400px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
}
.content .galerey .carousel img {
    display: block;
    width: 100%;
    height: auto;
}
.content .galerey .static_banner{
    width: 150px;
    height: 150px;

    display: inline-block;

    background-image: url(../img/move.png);
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;

    background-color: rgba(0, 0, 0, 0);

    position: relative;
    right: -760px;
    bottom: -670px;
    z-index: 2;
}



/* Reviews */
.Reviews{
    margin: 120px 0;
}
.Reviews .content{
    width: 100%;
}
.Reviews .content h2{
    font-size: 4.8em;
}
.Reviews .comments_galerey .carousel-cell{
    width: 100%;
    height: 590px;
    margin-right: 10px;
    border-radius: 5px;
    counter-increment: carousel-cell;
    box-shadow: inset 0px 2px 64px rgba(0, 0, 0, 0.03);
}
.Reviews .comments_galerey .carousel-cell #comment_block{
    width: 100%;
    height: 400px;
}

.Reviews .comments_galerey .carousel-cell>div .left .img{
    width: 150px;
    height: 150px;
    
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    margin: 30px 0 0 20px;
}
.Reviews .comments_galerey .carousel-cell:nth-child(1) .left .img{background-image: url(../img/ava/author_ava_1.png);}
.Reviews .comments_galerey .carousel-cell:nth-child(2) .left .img{background-image: url(../img/ava/author_ava_2.png);}
.Reviews .comments_galerey .carousel-cell:nth-child(3) .left .img{background-image: url(../img/ava/author_ava_3.png);}
.Reviews .comments_galerey .carousel-cell:nth-child(4) .left .img{background-image: url(../img/ava/author_ava_1.png);}

.Reviews .comments_galerey .carousel-cell>div .right{
    margin: 30px 39px 0 0;
    font-size: 65px;
    font-weight: 400;
    width: 70%;
    color: #000;
}
.Reviews .comments_galerey .carousel-cell>div .right #comment{
    margin-bottom: 44px;
}
.Reviews .width_buttons{
    text-align: center;
    position: relative;
    top: 50px;
}
.Reviews .width_buttons button{
    font-size: 2.8em;
    color: #fff;
    background-color: #E0391E;
    border: none;
    padding: 30px 80px;
    border-radius: 20px;
    margin-bottom: 40px;
}


.Contacts{
    display: table;
    width: 100%;
    margin-bottom: 120px;
}
.Contacts h2{
    font-weight: 700;
    font-size: 4.8em;
    margin-bottom: 30px;
}
.Contacts p{
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 20px;
}
.Contacts p:nth-child(2){
    margin-bottom: 30px;
}
.Contacts p:nth-child(3){
    color: #E0391E;
    font-weight: 500;
    font-size: 3.4em;
}
.Contacts p:nth-child(5){
    margin-bottom: 30px;
}

.Contacts .soc p{
    margin-bottom: 15px;
}
.Contacts .soc .links{
    font-size: 0;
}
.Contacts .left .soc .links a:last-child{
    margin-right: 0;
}
.soc .links a{
    width: 100px;
    height: 100px;
    background-size: 100% auto;
    background-position: center;
    margin-right: 35px;
    border-radius: 90px;
    display: inline-block;
}
.soc .links .insta{background-image: url(../img/instagram.png);}
.soc .links .vk{background-image: url(../img/vk.png);}
.soc .links .tik-toc{background-image: url(../img/tik-tok.png);}
.soc .links .you-tube{background-image: url(../img/youtube.png);}

.Contacts button{
    background-color: #E0391E;
    border: none;
    color: #fff;
    padding: 20px 60px;
    border-radius: 20px;
    font-size: 2.8em;
    margin-top: 30px;
}
.Contacts .right{
    float: right;
    text-align: center;
}

/* footer */

footer{
    width: 100%;
    min-height: 100px;
    background-image: url(../img/background_first_vlock.png);

    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;

    color: #fff;

    padding: 50px 0 ;
}
footer .content .logotype{
    display: table;
    margin-bottom: 100px;
    float: left;
}
footer .content .logotype .img {
    width: 200px;
    height: 225px;
    
    background-image: url(../img/logo.png);
    background-size: 100% auto;
    background-repeat: no-repeat;

    display: table-cell;
    vertical-align: middle;
}
footer .content .logotype .name{
    display: table-cell;
    vertical-align: middle;

    padding-left: 30px;
}
footer .content .logotype .name .logo_name{
    color: #E0391E;
    font-family: 'Gadugi';
    font-weight: 700;
    font-size: 2.4em;
    letter-spacing: 0.2em;

    padding-bottom: 5px;
}
footer .content .logotype .name p{
    color: #fff;
    font-family: 'Corbel';
    font-weight: 400;
    font-size: 1.4em;
    letter-spacing: 0.29em;
}
footer .content .right .slider{
    float: right;

    width: 250px;
    height: 250px;

    
    background-image: url(../img/slider.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}
footer .content .right .slider a{
    width: 133px;
    height: 130px;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    left: 62px;
    top: 44px;
}

footer .content .approve{
    margin-bottom: 100px;
    font-size: 3em;
}
footer .content .number p{
    color: #E0391E;
    font-size: 3.4em;
    margin-bottom: 30px;
}
footer .content>p{
    color: #fff;
    font-size: 2.4em;
    margin-bottom: 40px;
}
footer .content p:nth-child(3){
    margin-bottom: 45px;
}
footer .content .politics{
    width: 300px;
    margin-bottom: 500px;
}
footer .content .politics a{
    color: #FFFFFF80;
    letter-spacing: 0.2em;
    border-bottom: 1px solid #FFFFFF80;
    font-size: 3em;
}
footer .content .created_by_toda{
    text-align: center;
    font-size: 3em;
    margin-bottom: 200px;
}
footer .content .created_by_toda a{
    background-color: #fff;
}



@media screen and (max-width: 600px){
    /* alertation */
    .alert .info{
        min-height: 100px;
        width: 60%;
        font-size: 20px;
        border-radius: 6px;
    }
    .alert .info .img_krest{
        width: 25px;
        height: 25px;
    }
    #menu_burger ul li{
        margin-bottom: 20px;
    }
    #form_call .info .Field .img{
        width: 25px;
        height: 25px;
        top: 30px;
    }
    #form_call .info .Field .number7{
        top: 34px;
        left: 10px;
    }
    #form_call .info .Field:nth-child(5) input{
        margin-bottom: 10px;
    }
    #form_call .info .Field input:not(input[type="checkbox"]){
        width: 190px;
        left: -40px;
        padding-left: 70px;
        padding-right: 3px;
        margin-bottom: 10px;
    }
    #form_call .info .Field .hidden_menu_auto{
        width: 140px;
        padding-left: 70px;
        margin-left: 10px;
    }
    #form_call .checkboxses{
        padding: 19px 0;
    }
    #form_call .checkboxses label{
        font-size: 15px;
    }
    #form_call .custom-checkbox+label::before{
        width: 18px;
        height: 18px;
    }
    #form_call .info button{
        font-size: 15px;
        border-radius: 6px;
        padding: 10px 30px;
        margin: 0;
    }
    /* end */

    .slider_call{
        display: none;
    }
    .slider_call a{
        width: 70px;
        height: 70px;

        bottom: 20px;
        right: 20px;

    }
    .content{
        width: 374px;
        margin: auto;
    }
    .title{
        height: 800px;
    }
    .title .content .top .img{
        width: 48px;
        height: 54px;
    }
    .title .content .top .logo_name{
        font-size: 18px;
    }
    .title .content .top p{
        font-size: 12px;
    }
    .title .content .top .right .menu .img{
        width: 34px;
        height: 24px;
        margin: 20px 0;
    }
    .title .content .urgent_form h1{
        font-size: 20px;
    }
    .title .content .urgent_form .information{
        margin-bottom: 147px;
    }
    .title .content .urgent_form .information p{
        font-size: 14px;
    }
    .title .content .urgent_form button{
        font-size: 15px;
        padding: 6px 14px;
        border-radius: 6px;
    }
    .title .content .urgent_form .call_a .img{
        width: 70px;
        height: 70px;
    }
    .title .content .urgent_form .call_a .text{
        font-size: 12px;
        padding-left: 20px;
    }
    .title .content .urgent_form .call_a .text p:first-child{
        font-size: 20px;
        margin-bottom: 5px;
    }
    .content .about_us{
        display: block;
    }
    .content .about_us>div h2{
        font-size: 25px;
    }
    .content .about_us>div p{
        font-size: 15px;
        margin-bottom: 40px;
    }
    .content .about_us>div:first-child a{
        font-size: 15px;
    }
    .content .about_us>div h3{
        font-size: 20px;
    }
    iframe{
        width: 374px;
        height: 226px;
    }
    .content .about_us>div{
        margin-bottom: 30px;
    }
    .content .about_us>div a{
        font-size: 20px;
    }
    .content .cost h2{
        font-size: 25px;
    }
    .content .cost>p{
        font-size: 15px;
        margin-bottom: 50px;
    }
    .content .cost .cost_images .img{
        height: 275px;
    }
    .content .cost .cost_images .img .shadow{
        top: 118px;
        height: 156px;
    }
    .content .cost .cost_images .img .shadow p{
        font-size: 15px;
    }
    .content .cost .cost_images .img .shadow .right{
        width: 50px;
    }
    .content .cost .cost_images .info h2{
        font-size: 20px;
    }
    .content .cost .cost_images .info p{
        font-size: 15px;
    }
    .content .cost .cost_images .info button{
        font-size: 15px;
    }
    .content .galerey h2{
        font-size: 30px;
    }
    .content .galerey p{
        width: 100%;
        font-size: 15px;
        margin-bottom: 30px;
    }
    .content .galerey .static_banner{
        width: 40px;
        height: 40px;

        right: -320px;
        bottom: -260px;
    }
    .Reviews .content h2{
        font-size: 30px;
    }
    .Reviews .comments_galerey .carousel-cell{
        height: 192px;
    }
    .Reviews .comments_galerey .carousel-cell #comment_block{
        height: 192px;
    }
    .Reviews .comments_galerey .carousel-cell>div .left .img{
        width: 51px;
        height: 51px;
    }
    .Reviews .comments_galerey .carousel-cell>div .right{
        font-size: 15px;
    }
    .Reviews .width_buttons button{
        font-size: 15px;
        padding: 10px 60px;
        border-radius: 6px;
    }
    .Reviews .content{
        margin: 0;
    }
    .Contacts h2{
        font-size: 30px;
    }
    .Contacts p{
        font-size: 15px;
    }
    .Contacts p:nth-child(2){
        font-size: 15px;
    }
    .Contacts p:nth-child(3){
        font-size: 25px;
    }
    .soc .links a{
        width: 35px;
        height: 35px;
    }
    .Contacts button{
        font-size: 15px;
        border-radius: 6px;
        padding: 10px 60px;
    }
    footer .content .logotype .img{
        width: 48px;
        height: 54px;
    }
    footer .content .logotype .name .logo_name{
        font-size: 18px;
    }
    footer .content .logotype .name p{
        font-size: 12px;
    }
    footer .content .right .slider{
        width: 70px;
        height: 70px;
    }
    footer .content .right .slider a{
        width: 37px;
        height: 37px;
        left: 18px;
        top: 12px;
    }
    footer .content .approve{
        font-size: 15px;
    }
    footer .content .number p{
        font-size: 25px;
    }
    footer .content>p{
        font-size: 25px;
    }
    footer .content .politics{
        margin-bottom: 128px;
    }
    footer .content .politics a{
        font-size: 15px;
    }
    footer .content .created_by_toda{
        font-size: 20px;
        margin-bottom: 80px;
    }
}
@media screen and (max-width: 375px){
    /* alerts */

    .alert .info{
        width: 75%;
    }
    #form_call .info .Field input:not(input[type="checkbox"]){
        left: -20px;
    }
    #form_call .menu_auto{
        height: 80px;
    }
    #Reviews_form .info #textarea{
        min-height: 100px;
    }
    .alert .info button{
        font-size: 15px;
        padding: 10px 60px;
        border-radius: 6px;
        margin-top: 0;
    }
    /* end */



    .alert .info{
        padding: 25px;
    }
    .content{
        width: 300px;
        margin: auto;
    }
    .title .content .top .name{
        left: 10px;
    }
    iframe{
        width: 300px;
        height: 194px;
    }
    .content .galerey .static_banner{
        right: -255px;
        bottom: -215px;
    }
    .content .cost .cost_images .img .shadow{
        top: 92px;
    }
    footer .content .logotype .name{
        padding-left: 10px;
    }
    footer .content .right .slider{
        width: 50px;
        background-size: auto 100%;
    }
    footer .content .logotype{
        margin-bottom: 20px;
    }
    footer .content .approve{
        margin-bottom: 40px;
    }
    footer .content>p{
        font-size: 15px;
    }
}
/* @media screen and (max-width: 1050px){} */
