*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
@font-face {
    font-family: Corbel;
    src: url(../font/ofont.ru_Corbel.ttf);
}
@font-face{
    font-family: Montserrat;
    src: url(../font/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Gadugi;
    src: url(../font/Gadugi.ttf);
}
a{cursor: pointer;font-family: 'Corbel';}
button{cursor: pointer;}
p{font-family: 'Montserrat';}
h1{font-family: 'Corbel';}
h2{font-family: 'Corbel';}
h3{
    font-family: 'Corbel';
    font-size: 25px;
}
.left{
    float: left;
    padding: 0;
}
.right{
    float: right;
    padding: 0;
}
.clearfix{
    clear: both;
}
.content{
    width: 1180px;
    margin: 0 auto;
}
.big_papa{ 
    font-family: 'Corbel';
    font-size: 80px;
    font-weight: bold;
    color: #E0391E;
}

/* for scripts alerts */
.alert{
    font-family: 'Montserrat';
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s all ease;
}
.alert .info{
    width: 587px;
    height: 184px;
    
    padding: 50px;

    background-color: #fff;
    position: relative;
    z-index: 11;
    border-radius: 6px;
}
.alert .info .img{
    width: 16px;
    height: 16px;
    
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/close.png);

    float: right;
    position: relative;
    top: -20px;
    right: -20px;

    cursor: pointer;
}
.alert .info h2{
    font-family: 'Corbel';
    font-weight: 700;
    font-size: 30px;
    color: #041226;
    margin-bottom: 20px;
}
.alert .info input{
    font-family: 'Montserrat';
    font-weight: 400;

    border: none;
    box-shadow: inset 0px 2px 64px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    margin-left: 10px;
    padding: 9px 10px;

    outline: none;

    margin-bottom: 40px;
}
.alert .info button{
    display: block;
    color: #fff;
    background-color: #E0391E;
    border-radius: 6px;
    border: none;
    padding: 6px 60px;
}
.alert .closeCallback{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.800);
    position: fixed;
    display: flex;
}

#Reviews_form .info{
    width: 604px;
    height: 469px;
}
#Reviews_form .info h2{
    width: 467px;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}
#Reviews_form .info .num{
    float: left;
    position: relative;
    top: 9px;
    left: 10px;
    z-index: 2;
    font-size: 15px;
    color: rgba(4, 18, 38, 0.4);
    display: none;
}
#Reviews_form .info input{
    width: 336px;
    padding-left: 30px;
    display: block;
    position: relative;
    margin-left: 0;
    font-size: 15px;
    margin-bottom: 15px;
    background: #FFFFFF;
    color: rgba(4, 18, 38, 0.4);
    box-shadow: inset 0px 2px 64px rgba(0, 0, 0, 0.03);
}
#Reviews_form .info input:focus{
    border: 2px solid #000;
}

#Reviews_form .info #Reviews_form_input{
    z-index: 1;
    left: 0;
}
#Reviews_form .info #textarea{
    padding: 10px 10px 10px 30px;
    width: 336px;
    min-height: 127px;
    font-size: 15px;
    border: 0;
    box-shadow: inset 0px 2px 64px rgba(0, 0, 0, 0.03);
    resize: none;
    border-radius: 6px;
    margin-bottom: 30px;
    font-family: 'Montserrat';
}
#the_order_has_been_sent .info{
    height: 310px;
    padding: 50px;
}
#the_order_has_been_sent .info h2{
    width: 467px;
    font-size: 30px;
    margin-bottom: 50px;
}
#the_order_has_been_sent .info .thx{
    margin-bottom: 50px;
}
#the_order_has_been_sent .info .thx p:first-child{
    font-size: 20px;
    margin-bottom: 5px;
}
#the_order_has_been_sent .info .thx p:last-child{
    font-size: 15px;
}
#the_order_has_been_sent .info .tel{
    color: #E0391E;
    font-size: 25px;
    margin-bottom: 5px;
}

/* end */


header{
    background-color:rgba(0, 0, 0, 0.4);
    padding: 27px 0;
    position: absolute;
    width: 1180px;
    margin-left: -590px;
    left: 50%;
    right: 50%;
    z-index: 2;
    font-family: 'Corbel';
    border-radius: 0 0 5px 5px;
}
header ul{
    text-align: center;
}
header ul li{
    list-style-type: none;
    display: inline;
    font-size: 15px;
    font-weight: 400;
}
header ul li a{
    color :#FFFFFF;
}
header ul li{
    margin-right:115px;
}
header ul li:last-child{
    margin-right: 0;
}

.title{
    width: 100%;
    background-image: url(../img/background_first_vlock.png);

    background-position: center;
    background-size:auto 100%;
    background-repeat: no-repeat;
    position: relative;
    top: -1px;

    padding-bottom: 168px;
}
.title .content .top{
    width: 100%;
    padding-top: 114px;
    font-family: 'Montserrat';
    display: table;
}

.title .content .top div{
    display: table-cell;
    vertical-align: middle;
}
.title .content .top .logotype .img{
    width: 92px;
    height: 102px;

    background-image: url(../img/logo.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.title .content .top .logotype .name{
    position: relative;
    left: 30px;
}
.title .content .top .logotype .logo_name{
    color: #E0391E;
    font-family: 'Gadugi';
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.2em;
}
.title .content .top .logotype p{
    color: #fff;
    font-family: 'Corbel';
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.29em;
}

.title .content .top .links .right .inf{
    display: inline-block;
    padding-right: 40px;
}
.title .content .top .links .right .inf:last-child{padding-right: 0;}

.title .content .top .links .linkss{
    display: table;
}
.title .content .top .links div{
    display: table-cell;
    vertical-align: middle;
}
.title .content .top .links div div:last-child{padding-right: 0;}
.title .content .top .links .image{
    padding-right: 0;
}


.title .content .top .links .right div .img{
    width: 24px;
    height: 24px;
    background-size: auto 100%; 
    background-repeat: no-repeat;
    padding-right: 25px;
}
.title .content .top .links .geo .img{
    background-image: url(../img/geo.png);
}
.title .content .top .links .time .img{
    background-image: url(../img/time.png);
}
.title .content .top .links .telephone .img{
    background-image: url(../img/tel.png);
}
.title .content .top .links .right div .info{
    color: #fff;
    letter-spacing: 0.1em;
}

.title .content .urgent_form{
    margin-top: 84px;
    display: table;
    width: 100%;
    transition: 1s all ease;
}
.title .content .urgent_form .left{
    display: table-cell;
    vertical-align: middle;
    float: none;
    transition: 1s all ease;
}
.title .content .urgent_form .form{
    display: table-cell;
    vertical-align: middle;
}
.title .content .urgent_form .left h1{
    width: 544px;
    font-weight: 700;
    font-family: 'Corbel';
    letter-spacing: 0.02em;
    font-size: 30px;
    color: #fff;
}
.title .content .urgent_form .left p{
    margin-top: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 574px;
    color: #fff;
}
.title .content .urgent_form .left button{
    color: #fff;
    background-color: #E0391E;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.title .content .urgent_form .left .soc p{
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 20px;
    margin-bottom: 15px;
}
.left .soc .links a{
    width: 45px;
    height: 45px;
    background-size: 100% auto;
    background-position: center;
    margin-right: 35px;
    border-radius: 90px;
    display: inline-block;
}
.left .soc .links .insta{background-image: url(../img/instagram.png);}
.left .soc .links .vk{background-image: url(../img/vk.png);}
.left .soc .links .tik-toc{background-image: url(../img/tik-tok.png);}
.left .soc .links .you-tube{background-image: url(../img/youtube.png);}
.title .content .urgent_form .right{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    margin: 0 0 0 auto; /* то же, что margin-left: auto;  */ 
}
.content .right .form{
    width: 336px;
    padding: 0 72px;
    background-color: #020914;
    border-top: 13px solid #E0391E;
    color: #fff;
    transition: 1s all ease;
}
.content .form h2{
    font-family: 'Corbel';
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 0.13em;
    margin: 30px 0 13px;
}
.content .form .Field{
    margin-bottom: 25px;
    text-align: left;
}

.content .form p{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
}

.content .form input:not(input[type="checkbox"]){
    padding: 9px 10px 9px 66px;
    width: 260px;
    border-radius: 6px;
    background-color: #041226;
    border: none;
    color: #FFFFFF66;
    font-family: 'Montserrat';
    font-size: 15px;
    letter-spacing: 0.1em;
}
.content .form input::placeholder{
    color: #FFFFFF66;
}
.content .form .img{
    width: 20px;
    height: 20px;

    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    float: right;
    position: relative;
    right: 300px;
    top: 28px;

    z-index: 2;
}
.content .form .tel{background-image: url(../img/tel.png);}

.title .content .urgent_form .right .form .Field:nth-child(2) input[type="text"]{
    padding-left: 87px;
    width: 239px;
}
.title .content .urgent_form .right .form .Field .number7{
    color: #FFFFFF66;
}

.content .form .number7{
    position: relative;
    float: left;
    margin-bottom: 0;
    top: 29px;
    left: 66px;
}
.content .form .geo{
    background-image: url(../img/geo.png);
    background-size: auto 100%;
}
.content .form .triangle{
    background-image: url(../img/triangle.png);
    top: 8px;
    transition: 1s all ease;
}
.content .form .menu_auto{
    width: 336px;
    height: 36px;
    border-radius: 6px;
    background-color: #041226;
    border: none;
    color: #FFFFFF66;
    font-family: 'Montserrat';
    font-size: 15px;
    letter-spacing: 0.1em;
    transition: 1s all ease;
}
.content .form .menu_auto input{
    position: relative;
    top: -20px;
}
.content .form .menu_auto .hidden_menu_auto{
    display: none;
    border-radius: 6px;
    position: relative;
    padding: 0px 0;
    opacity: 0;
    transition: 1s all ease;
    background-color: #041226;
    top: -57px;
    height: 40px;
}
.content .form .menu_auto p{
    padding-top: 9px;
    padding-left: 66px;
    cursor: pointer;
}
.content .form .menu_auto p:hover{
    color: #fff;
}
.content .form button{
    background-color: #E0391E;
    border: none;
    color: #fff;
    width: 280px;
    padding: 6px 0;
    border-radius: 6px;
    font-size: 20px;
    margin-bottom: 33px;
}
.content .form .checkboxses{
    padding: 19px 16px;
    border-radius: 6px;
    background-color: #041226;
    border: none;
    color: #FFFFFF66;
    font-family: 'Montserrat';
    font-size: 15px;
    letter-spacing: 0.1em;
}
.content .form .checkboxses label{
    display: block;
    margin-left: 1px;
    margin-bottom: 15px;
}
.content .form .checkboxses label:last-child{
    margin-bottom: 0;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label::before {
    position: relative;
    top: 3px;
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 90px;
    margin-right: 0.5em;

    background-image: url(../img/chekbox/chek.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto; 
}
.custom-checkbox:checked+label::before {
    background-image: url(../img/chekbox/chek_actv.png);
}
.custom-checkbox:disabled+label::before {
background-color: #e9ecef;
}

/* bottom form */

.Contacts .right .form{
    background-color: #fff;
    color: #041226;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.05);
}
.Contacts .right .form input:not(input[type="checkbox"]){
    background-color: #fff;
    box-shadow: inset 0px 2px 64px rgba(0, 0, 0, 0.03);
    color: #041226;
}
.Contacts .right .form input::placeholder{
    color: #04122666;
}
.Contacts .right .form .checkboxses{
    background-color: #fff;
    box-shadow: inset 0px 2px 64px rgba(0, 0, 0, 0.03);
    color: #041226;
}
.Contacts .right .form .menu_auto{
    background-color: #fff;
    box-shadow: inset 0px 2px 64px rgba(0, 0, 0, 0.03);
    color: #04122666;
}
.Contacts .right .form .menu_auto .hidden_menu_auto{
    background-color: #fff;
    box-shadow: inset 0px 2px 64px rgba(0, 0, 0, 0.03);
    color: #04122666;
}
.Contacts .right .form .menu_auto p:hover{
    color: #020914;
}
.Contacts .right .form .Field:nth-child(2) input[type="text"]{
    padding-left: 87px;
    width: 239px;
}
.Contacts .right .form .Field .number7{
    color: #04122666;
}
.content .about_us{
    width: 100%;
    display: table;
    margin: 120px 0;
}
.content .about_us .left{
    width: 535px;
    display: table-cell;
    vertical-align: middle;
}
.content .about_us .left>div h2{
    width: 480px;
    margin-bottom: 17px;
    font-size: 30px;
}
.content .about_us .left>div p{
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    margin-bottom: 25px;
}
.content .about_us .left>div:nth-child(2) p{
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    margin-bottom: 25px;
}
.content .about_us .left>div a{
    color: #fff;
    padding: 6px 51px;
    background-color: #E0391E;
    border-radius: 6px;
}
.content .about_us .left>div h3{

    margin-top: 50px;
    margin-bottom: 30px;
}
.content .about_us .right{
    display: table-cell;
    vertical-align: middle;
    width: 578px;
    float: none;
}
.content .about_us .right>div{
    display: table;
    margin-bottom: 50px;
    width: 100%;
}
.content .about_us .right>div:last-child{
    margin-bottom: 0;
}

.content .about_us .right>div:nth-child(2n+1) .left{
    width: 156px;
    height: 156px;
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.content .about_us .right>div:nth-child(2n+2) .right{
    width: 156px;
    height: 156px;
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.content .about_us .right>div:nth-child(2n+1) .right{
    width: 350px;
    display: table-cell;
    vertical-align: middle;
    
    float: right;
}
.content .about_us .right>div:nth-child(2n+2) .left{
    width: 350px;
    display: table-cell;
    vertical-align: middle;
    float: left;
}


.content .about_us .right .img{
    width: 100%;
    height: 100%;

    display: inline-block;

    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.content .about_us .right>div p{
    font-size: 20px;
    margin: 15px 0 20px;
}
.content .about_us .right>div a{
    color: #E0391E;
    font-weight: bold;
}



.content .cost{
    width: 100%;
}
.content .cost>p:first-child{
    margin-top: 30px;
}
.content .cost>p:nth-child(4){
    margin-bottom: 50px;
}
.content .cost>p{
    font-size: 20px;
} 
.content .cost .cost_images>div{
    width: 100%;
    min-height: 50px;
    margin-bottom: 21px;
 
    font-size: 0;
}
.content .cost .cost_images>div .img{
    width: 380px;
    height: 280px;

    display: inline-block;
    margin-right: 20px;

    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    cursor: default;
}

.content .cost .cost_images>div .img:last-child{margin-right: 0;}
/* Задаем bgimage */
.content .cost .cost_images>div:nth-child(1) .img:nth-child(1){background-image: url(../img/passenger_car.png);}
.content .cost .cost_images>div:nth-child(1) .img:nth-child(2){background-image: url(../img/parquet_car.png);}
.content .cost .cost_images>div:nth-child(1) .img:nth-child(3){background-image: url(../img/off-road_vehicle.png);}
.content .cost .cost_images>div:nth-child(2) .img:nth-child(1){background-image: url(../img/commercial_vehicle.png);}
.content .cost .cost_images>div:nth-child(2) .img:nth-child(2){background-image: url(../img/exclusive_car.png);}
.content .cost .cost_images>div:nth-child(2) .img:nth-child(3){background-image: url(../img/special_equipment.png);}


.content .cost .cost_images .last_img_cost{
}
.content .cost .cost_images .last_img_cost .img{
    display: inline-block;
    margin-right: 60px;
}
.content .cost .cost_images .last_img_cost .info{
    display: inline-block;
    width: 500px;
    font-size: 20px;
    position: relative;
    top: -50px;
}
.content .cost .cost_images .last_img_cost .info p{
    margin-bottom: 20px;
}
.content .cost .cost_images .last_img_cost .info button{
    display: block;
    color: #fff;
    background-color: #E0391E;
    border-radius: 6px;
    border: none;
    padding: 6px 60px;
}

.content .cost .cost_images .last_img_cost .img .shadow{
    width: 100%;
}
.content .cost .cost_images>div:nth-child(3) .img:nth-child(1){background-image: url(../img/Manipulator.png);}

/*  */


.content .cost .cost_images>div .img .shadow{
    width: 100%;
    height: 142px;
    background-color: #00000099;
    vertical-align: bottom;
    margin-top: 138px;
    
    display: table;

    transition: 0.8s all ease;
}
.content .cost .cost_images>div .img:hover .shadow{
    margin-top: 0;
    height: 100%;
}

.content .cost .cost_images>div .img .shadow .left{
    display: table-cell;
    vertical-align: middle;
    float: none;
    padding-left: 20px;
}
.content .cost .cost_images>div .img .shadow .right{
    display: table-cell;
    vertical-align: middle;
    float: none;
    width: 70px;
    padding-right: 20px;
}
.content .cost .cost_images>div .img .shadow p{
    font-size: 20px;
    color: #fff;
    vertical-align: middle;
}
.content .cost .cost_images>div .img .shadow .left p:last-child{
    color: #E0391E;
}
.content .cost .cost_images>div .img .shadow .right p:first-child{
    font-size: 36px;
}


.content .cost .cost_images>div:nth-child(3) .img .shadow .left p:first-child{
    color: #E0391E;
}
.content .cost .cost_images>div:nth-child(3) .img .shadow .left p:last-child{
    color: #fff;
}
.content .cost .cost_images>div:nth-child(3)>div:nth-child(3){ 
    width: 720px;

    font-size: 20px;

    display: table-cell;
    vertical-align: middle;
}
.content .cost .cost_images>div:nth-child(3)>div:nth-child(3) h3{
    width: 626px;
    
    font-size: 25px;
    font-family: 'Corbel';
    font-weight: 700;

    margin-bottom: 25px;
}
.content .cost .cost_images>div:nth-child(3)>div:nth-child(3) p{
    width: 542px;

    font-family: 'Montserrat';
    font-size: 20px;

    margin-bottom: 50px;
}
.content .cost .cost_images>div:nth-child(3)>div:nth-child(3) button{
    display: block;
    color: #fff;
    background-color: #E0391E;
    border-radius: 6px;
    border: none;
    padding: 6px 60px;
}



/* galerey */
.content .galerey {
    display: table;
    width: 100%;
    margin-top: 50px;
}
.content .galerey h2{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}
.content .galerey p{
    width: 915px;
    font-size: 20px;
    margin-bottom: 50px;
}
.content .galerey .images{
    overflow: hidden;
}
.content .galerey .images button {
    width: 280px;
    height: 200px;

    display: table-cell;
    vertical-align: middle;

    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    border: none;

    background-color: #fff;
}
.content .galerey .images #galerey_left {
    background-image: url(../img/galerey_images/galerey_images_1.png);
}
.content .galerey .images #galerey_right{
    background-image: url(../img/galerey_images/galerey_images_3.png);
}
.content .galerey .images button .img .overflow{
    position: relative;
    top: -100px;
}

.content .galerey .images button .img img{
    opacity: 0;
    position: relative;
    transition: none;
    left: 0;
    width: 580px;
    height: 400px;
}
.content .galerey .images button .img #right_img_zapolnenye{
    top: 0;
}
.content .galerey .images button .img #left_img_zapolnenye{
    left: -300px;
    top: -100px;
}
.content .galerey .images button .img {
    width: 100%;
    height: 100%;

    background-color: #ffffff66;
    background-repeat: no-repeat;
    background-position: center;

    transition: 0.5s all ease;
}
.content .galerey .images #galerey_left .img {background-image: url(../img/arrow_left.png);}
.content .galerey .images #galerey_right .img {background-image: url(../img/arrow_right.png);}

.content .galerey .images #galerey_img_center {
    display: inline-table;
    vertical-align: middle;

    width: 580px;
    height: 400px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url(../img/galerey_images/galerey_images_2.png);
}

/* Reviews */
.Reviews{
    margin: 120px 0;
}
.Reviews .content .comments_galerey .galerey_comments{
    width: 100%;
    font-size: 0;
    white-space: nowrap;
    overflow: hidden;

    margin-top: 50px;
}
.Reviews .content .comments_galerey .galerey_comments>div{
    width: 380px;
    height: 254px;

    background-color: #00000008;
    border-radius: 6px;

    display: inline-block;
    margin-right: 20px;
    white-space: normal;
}
.Reviews .content .comments_galerey .galerey_comments>div:last-child{
    margin-right: 0;
}

.Reviews .content .comments_galerey #galerey_comments{
    position: relative;
    right: 0;
}
.Reviews .content .comments_galerey .galerey_comments>div .left .img{
    width: 69px;
    height: 69px;
    
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;

    margin: 30px 0 0 20px;
}
.Reviews .content .comments_galerey .galerey_comments #comment_block:nth-child(1) .left .img{background-image: url(../img/ava/author_ava_1.png);}
.Reviews .content .comments_galerey .galerey_comments #comment_block:nth-child(2) .left .img{background-image: url(../img/ava/author_ava_2.png);}
.Reviews .content .comments_galerey .galerey_comments #comment_block:nth-child(3) .left .img{background-image: url(../img/ava/author_ava_3.png);}
.Reviews .content .comments_galerey .galerey_comments #comment_block:nth-child(4) .left .img{background-image: url(../img/ava/author_ava_1.png);}

.Reviews .content .comments_galerey .galerey_comments>div .right{
    margin: 30px 39px 0 0;
    font-size: 20px;
    font-weight: 400;
    width: 222px;
    color: #000;
}
.Reviews .content .comments_galerey .galerey_comments>div .right #comment{
    margin-bottom: 44px;
    height: 125px;
}

.Reviews .content .comments_galerey .buttons button{
    width: 50px;
    height: 50px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    background-color: #fff;
    border: none;
    border-radius: 90px;
    display: inline-block;
    position: relative;
    top: -150px;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.05);
    background-image: url(../img/arrow_right_dark.png);

    transition: 0.5s all ease;
}
.Reviews .content .comments_galerey .buttons #left_arr{
    transform: rotate(180deg);
    float: left;
    left: -25px;
    display: none;
}
.Reviews .content .comments_galerey .buttons #right_arr{
    float: right;
    right: -25px;
}
.Reviews .content .width_buttons{
    width: 100%;
}
.Reviews .content .width_buttons>.buttons{
    font-size: 0;
    width: 517px;
    margin: 0 auto;
}
.Reviews .content .width_buttons>.buttons button{
    border: none; 
    background-color: #E0391E;
    padding: 6px 68px;
    margin-top: 50px;
    margin-right: 30px;
    color: #fff;
    border-radius: 6px;
}
.Reviews .content .width_buttons>.buttons button:last-child{
    margin-right: 0;
}


.Contacts{
    display: table;
    width: 100%;
    margin-bottom: 120px;
}
.Contacts>div{
    display: table-cell;
    vertical-align: middle;
    float: none;
    transition: 1s all ease;
}
.Contacts .left{
    width: 580px;
}
.Contacts .left h2{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
}
.Contacts .left p{
    width: 580px;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}
.Contacts .left p:nth-child(2){
    margin-bottom: 30px;
}
.Contacts .left p:nth-child(3){
    color: #E0391E;
    font-weight: 500;
    font-size: 25px;
}
.Contacts .left p:nth-child(5){
    margin-bottom: 30px;
}

.Contacts .left .soc p{
    margin-bottom: 15px;
}
.Contacts .left .soc .links{
    font-size: 0;
}
.Contacts .left .soc .links a:last-child{
    margin-right: 0;
}
.Contacts .left button{
    background-color: #E0391E;
    border: none;
    color: #fff;
    width: 280px;
    padding: 6px 0;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 30px;
}
.Contacts .right{
    float: right;
    text-align: center;
}

/* footer */

footer{
    width: 100%;
    min-height: 100px;
    background-image: url(../img/background_first_vlock.png);

    background-position: center;
    background-size:100% auto;
    background-repeat: no-repeat;

    color: #fff;

    padding: 24px 0 20px;
}
footer .content .left .logotype{
    display: table;
    margin-bottom: 17px;
}
footer .content .left .logotype .img {
    width: 92px;
    height: 102px;
    background-image: url(../img/logo.png);
    background-size: 100% auto;
    background-repeat: no-repeat;

    display: table-cell;
    vertical-align: middle;
}
footer .content .left .logotype .name{
    display: table-cell;
    vertical-align: middle;

    padding-left: 30px;
}
footer .content .left .logotype .name .logo_name{
    color: #E0391E;
    font-family: 'Gadugi';
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 0.2em;

    padding-bottom: 5px;
}
footer .content .left .logotype .name p{
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.29em;
}
footer .content .left .menu{
    margin-bottom: 48px;
}
footer .content .left .menu ul {
    text-align: center;
}
footer .content .left .menu ul li {
    margin-right: 20px;
    list-style-type: none;
    display: inline;
    font-size: 15px;
    font-weight: 400;
}
footer .content .left .menu ul li a{
    color: #fff;
}
footer .content .left .approve{
    margin-bottom: 100px;
}

footer .content .right{
    text-align: right;
}
footer .content .right .number p{
    color: #E0391E;
    font-size: 25px;
    margin-bottom: 30px;
}
footer .content .right p{
    color: #fff;
    font-size: 15px;
    margin-bottom: 40px;
}
footer .content .right p:nth-child(3){
    margin-bottom: 45px;
}

footer .content .right .politics a{
    color: #FFFFFF80;
    letter-spacing: 0.2em;
    border-bottom: 1px solid #FFFFFF80;
}
footer .content .created_by_toda{
    text-align: center;
}